{% extends 'base.html.twig' %}

{% block title %}About Us
{% endblock %}

{% block pagetitle %}About Us{% endblock %}
{% block pagesubtitle %}{% endblock %}

{% block body %}
{#	<br>#}
{#	<h1 class="text-center">{{ 'about us'|upper }}</h1>#}
{#	<br>#}
	<div class="container">
		<div class="py-4 d-block" style="font-size: 1rem;">
			<span class="text-info" style="font-size: 1.5rem;"><em>Lorem ipsum dolor.</em>
			</span>
			sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At 
			  vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 												          
			 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.												            													            
		</div>

		<div class="mb-3 w-100 py-4" style="max-width:;">
			<div class="row no-gutters d-flex flex-wrap-reverse">
				<div class="col-lg-8 pr-4">
					<h5 class="card-title text-info">who we are</h5>
					<div class="card-text" style="font-size: 1rem;">
						Lorem ipsum dolor sit amet, consetetur  sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
						       vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
							 eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.																										                            																												                           
						<hr class="w-50">
					</div>

				</div>
				<div class="col-lg-4 mb-4" style="font-size: 2.5rem;">
					<div class="card-text">Lorem ipsum dolor sit amet,
						<span class="text-info">
							<em>consetetur sadipscing elitr.</em>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="mb-3 w-100 py-4" style="max-width:;">
			<div class="row no-gutters">
				<div class="col-lg-6">
					<img src="https://www.hbfuller.com/-/media/images/careers/teamwork-diverstiy-mission-and-culture.jpg" class="card-img vh-50" alt="...">
				</div>
				<div class="col-lg-6">
					<div class="card-body pl-4">

						<h5 class="card-title text-info">Our mission</h5>
						<div class="card-text" style="font-size: 1rem;">Lorem ipsum dolor sit amet, consetetur eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur 
						sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At  vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="mb-3 w-100 py-4" style="max-width:;">
			<div class="row no-gutters d-flex justify-content-between">
				<div class="col-lg-6">
					<div class="card-body">

						<h5 class="card-title text-info">our values</h5>
						<div class="card-text" style="font-size: 1rem;"></div>
						<div>
							<i class="far fa-check-square text-info fa-2x pr-2 mb-3"></i>
							Lorem ipsum dolor sit amet, consetetur eirmod</div>
						<div>
							<i class="far fa-check-square text-info fa-2x pr-2 mb-3"></i>
							Lorem ipsum dolor sit amet, consetetur eirmod</div>
						<div>
							<i class="far fa-check-square text-info fa-2x pr-2 mb-3"></i>
							Lorem ipsum dolor sit amet, consetetur eirmod</div>


					</div>
				</div>
				<div class="col-lg-6">
					<div class="card-body">

						<h5 class="card-title">our targets</h5>
						<div class="card-text" style="font-size: 1rem;"></div>
						<div>
							<i class="fas fa-leaf pr-1 mb-3"></i>
							Lorem ipsum dolor sit amet, consetetur eirmod
						</div>
						<div>
							<i class="fas fa-exchange-alt pr-1 mb-3"></i>
							Lorem ipsum dolor sit amet, consetetur eirmod
						</div>
						<div>
							<i class="fas fa-chart-pie pr-1 mb-3"></i>
							Lorem ipsum dolor sit amet, consetetur eirmod
						</div>
						<div>
							<i class="fas fa-chart-bar pr-1 mb-3"></i>
							Lorem ipsum dolor sit amet, consetetur eirmod
						</div>
						<div>
							<i class="fas fa-globe-europe pr-1 mb-3"></i>
							Lorem ipsum dolor sit amet, consetetur eirmod
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="d-flex flex-wrap justify-content-around">
			<div class="rounded shadow m-1" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title text-center">sustainability</h5>
					<h6 class="card-subtitle mb-2 text-muted text-center"><i class="fas fa-exchange-alt pr-1"></i></h6>
					<div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>

				</div>
			</div>
			<div class="rounded shadow m-1" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title text-center">green economy</h5>
					<h6 class="card-subtitle mb-2 text-muted text-center"><i class="fas fa-leaf pr-1 text-success"></i></h6>
					<div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>

				</div>
			</div>
			<div class="rounded shadow m-1" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title text-center">regional economy</h5>
					<h6 class="card-subtitle mb-2 text-muted text-center"><i class="fas fa-globe-europe pr-1 text-info"></i></h6>
					<div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}



