{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <br>
    welcome to the homepage
    <br>
    i might be holding some of the latest blogposts? <br>


    <div class="row">
        {% for post in posts %}
            {# here are the blogposts/news (for now all) #}
            <div class="col-md-6 col-lg-4 mb-5 ">
                <img src="{{ post.imagemain }}" alt="">
                <h3>{{ post.title }}</h3>
                <a href="{{ path('news_show', {'id': post.id}) }}"><small class="text-muted">More info</small></a>
            </div>
        {% else %}
            <div>
                <p>no records found</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}