{% extends 'base.html.twig' %}

{% block title %}tips
{% endblock %}

{% block pagetitle %}Tips For Your Business{% endblock %}
{% block pagesubtitle %}{% endblock %}

{% block body %}
{#<br>#}
{#<h1 class="text-center">{{ 'tips for your business'|upper }}</h1>#}
{#<br>#}
<div class="container">

		<div class="py-4 d-block" style="font-size: 1rem;">
			<h4 class="text-info">What Is Sustainability?</h4>
			
			sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At 
			vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 												          
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
		</div>

		<h1 class="card-title text-info">A Long-Term Vision</h1>

		<div class="mb-3 w-100 py-4">
			<div class="row no-gutters d-flex flex-wrap-reverse">
				<div class="col-lg-8 pr-3">
					<h5 class="card-title text-info">#Klimaschutztipp 1</h5>
					<p class="card-text pr-4">
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
						vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
						eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
						<hr class="w-50">
					</p>
				</div>
                <div class="col-lg-4">
                    <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/103831138_2595052310753123_2285507775499027153_o.png?_nc_cat=103&_nc_sid=2c4854&_nc_ohc=ztCCjfftwIIAX8tZF_E&_nc_ht=scontent-vie1-1.xx&oh=1b57da05ea22c49d96ca536e1bc61b59&oe=5F61E895" class="card-img vh-50" alt="...">
                </div>
		    </div>
	    </div>

	<div class="mb-3 w-100 py-4" style="max-width:;">
		<div class="row no-gutters">
			<div class="col-lg-4 pr-3">
				<img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/104440322_2597466350511719_3353762707550629462_o.png?_nc_cat=110&_nc_sid=2c4854&_nc_ohc=aNSysZyImAUAX9GWkmo&_nc_ht=scontent-vie1-1.xx&oh=a750a7854e8d0000e6df801380a2eccf&oe=5F64988C" class="card-img vh-50" alt="...">
			</div>
			<div class="col-lg-8">
				<h5 class="card-title text-info">#Klimaschutztipp 2</h5>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
					vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
					eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
					<hr class="w-50">
				</p>
			</div>
		</div>
	</div>


		<div class="mb-3 w-100 py-4">
			<div class="row no-gutters d-flex flex-wrap-reverse">
				<div class="col-lg-8 pr-3">
					<h5 class="card-title text-info">#Klimaschutztipp Nr. 3</h5>
					<p class="card-text pr-4">
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
						vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
						eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
						<hr class="w-50">
					</p>
				</div>
                <div class="col-lg-4">
                    <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/104428144_2599849320273422_3884989355294384160_o.png?_nc_cat=102&_nc_sid=2c4854&_nc_ohc=-emTvCyyTgQAX_FWGTE&_nc_ht=scontent-vie1-1.xx&oh=293c503dabd7e94a63c26ae2efb626fb&oe=5F610856" class="card-img vh-50" alt="...">
                </div>
		    </div>
	    </div>

	<div class="mb-3 w-100 py-4" style="max-width:;">
		<div class="row no-gutters">
			<div class="col-lg-4 pr-3">
				<img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/83478563_2603189813272706_7189730108214629735_o.png?_nc_cat=106&_nc_sid=2c4854&_nc_ohc=JOx6ZiHYv1cAX-Ps12x&_nc_ht=scontent-vie1-1.xx&oh=712a3348f9d6e2b5b5723f4d925c9ee9&oe=5F63D3D3" class="card-img vh-50" alt="...">
			</div>
			<div class="col-lg-8">
				<h5 class="card-title text-info">#Klimaschutztipp Nr. 4</h5>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
					vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
					eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
					<hr class="w-50">
				</p>
			</div>
		</div>
	</div>

		<div class="mb-3 w-100 py-4">
			<div class="row no-gutters d-flex flex-wrap-reverse">
				<div class="col-lg-8 pr-3">
					<h5 class="card-title text-info">#Klimaschutztipp Nr. 5</h5>
					<p class="card-text pr-4">
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
						vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
						eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
						<hr class="w-50">
					</p>
				</div>
                <div class="col-lg-4">
                    <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/104880525_2605950409663313_976665639298508168_o.png?_nc_cat=109&_nc_sid=2c4854&_nc_ohc=3LqdRwS67HkAX_pJbKY&_nc_ht=scontent-vie1-1.xx&oh=23fa4c2e8adaab30b8f476c6d2175fff&oe=5F64512A" class="card-img vh-50" alt="...">
                </div>
		    </div>
	    </div>

	<div class="mb-3 w-100 py-4" style="max-width:;">
		<div class="row no-gutters">
			<div class="col-lg-4 pr-3">
				<img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/83557901_2609306785994342_2757774794347804084_o.png?_nc_cat=111&_nc_sid=2c4854&_nc_ohc=y3wIaR6lVvoAX-92FyW&_nc_ht=scontent-vie1-1.xx&oh=ee5a6fd4d802b5b1871d47285de46054&oe=5F61F654" class="card-img vh-50" alt="...">
			</div>
			<div class="col-lg-8">
				<h5 class="card-title text-info">#Klimaschutztipp Nr. 6</h5>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
					vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
					eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
					<hr class="w-50">
				</p>
			</div>
		</div>
	</div>

		
			<div class="mb-3 w-100 py-4">
			<div class="row no-gutters d-flex flex-wrap-reverse">
				<div class="col-lg-8 pr-3">
					<h5 class="card-title text-info">#Klimaschutztipp Nr. 7</h5>
					<p class="card-text pr-4">
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
						vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
						eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
						<hr class="w-50">
					</p>
				</div>
                <div class="col-lg-4">
                    <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/106778953_2612320225692998_4872468885470819738_o.png?_nc_cat=110&_nc_sid=9267fe&_nc_ohc=M4vbivJoPyIAX_nqc5K&_nc_ht=scontent-vie1-1.xx&oh=a40edfe072cb8c36d54fbc46aa750b54&oe=5F61313D" class="card-img vh-50" alt="...">
                </div>
		    </div>
	    </div>

	<div class="mb-3 w-100 py-4" style="max-width:;">
		<div class="row no-gutters">
			<div class="col-lg-4 pr-3">
				<img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/107345015_2614738762117811_6162266858618142106_o.png?_nc_cat=111&_nc_sid=2c4854&_nc_ohc=5lVcHu2T4zAAX-q3Pkz&_nc_ht=scontent-vie1-1.xx&oh=b2f86ad022654477a8ac516ea32a7db1&oe=5F630850" class="card-img vh-50" alt="...">
			</div>
			<div class="col-lg-8">
				<h5 class="card-title text-info">#Klimaschutztipp Nr. 8</h5>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
					vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
					eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
					<hr class="w-50">
				</p>
			</div>
		</div>
	</div>
    <div class="mb-3 w-100 py-4">
			<div class="row no-gutters d-flex flex-wrap-reverse">
				<div class="col-lg-8 pr-3">
					<h5 class="card-title text-info">#Klimaschutztipp Nr. 9</h5>
					<p class="card-text pr-4">
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
						vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
						eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
						<hr class="w-50">
					</p>
				</div>
                <div class="col-lg-4">
                    <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/117159625_2638485379743149_6708780866565238909_o.png?_nc_cat=103&_nc_sid=2c4854&_nc_ohc=ciUlIE6iLwsAX8o1ecr&_nc_ht=scontent-vie1-1.xx&oh=8e9988c2091b00b3820d166bd60116ac&oe=5F6139BE" class="card-img vh-50" alt="...">
                </div>
		    </div>
	</div>   
    <div class="mb-3 w-100 py-4" style="max-width:;">
		<div class="row no-gutters">
			<div class="col-lg-4 pr-3">
				<img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/116744791_2641006432824377_7108861131564650815_o.png?_nc_cat=102&_nc_sid=2c4854&_nc_ohc=Qhlt06I_npYAX8c_GYe&_nc_ht=scontent-vie1-1.xx&oh=4a5a6800bfec8e30cef5aca4294478ae&oe=5F61F9D9" class="card-img vh-50" alt="...">
			</div>
			<div class="col-lg-8">
				<h5 class="card-title text-info">#Klimaschutztipp Nr. 10</h5>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
					vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
					eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
					<hr class="w-50">
				</p>
			</div>
		</div>
	</div>    
        </div>
        {% endblock %}

