{% extends 'base.html.twig' %}

{% block title %}Signatures
{% endblock %}

{% block pagetitle %}Tips For Your Business{% endblock %}
{% block pagesubtitle %}{% endblock %}

{% block body %}
{#<br>#}
{#<h1 class="text-center">{{ 'tips for your business'|upper }}</h1>#}
{#<br>#}
<div class="container">

		<div class="py-4 d-block" style="font-size: 1rem;">
			<h4 class="text-danger">What Is Sustainability?</h4>
			
			sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At 
			vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 												          
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
		</div>

		<h2 class="card-title text-danger">A Long-Term Vision</h2>

		<div class="mb-3 w-100 py-4">
			<div class="row no-gutters d-flex flex-wrap-reverse">
				<div class="col-lg-8 pr-3">
					<h5 class="card-title text-danger">1. Sustainability In Technology</h5>
					<p class="card-text pr-4">
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
						vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
						eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
						<hr class="w-50">
					</p>
				</div>
                <div class="col-lg-4">
                    <img src="https://youmatter.world/app/uploads/sites/2/2019/02/sustainability-examples-technology.jpg" class="card-img vh-50" alt="...">
                </div>
		    </div>
	    </div>

	<div class="mb-3 w-100 py-4" style="max-width:;">
		<div class="row no-gutters">
			<div class="col-lg-4 pr-3">
				<img src="https://youmatter.world/app/uploads/sites/2/2019/01/definition-what-sustainability-fashion.jpg" class="card-img vh-50" alt="...">
			</div>
			<div class="col-lg-8">
				<h5 class="card-title text-danger">2. Sustainability In Fashion</h5>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
					vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
					eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
					<hr class="w-50">
				</p>
			</div>
		</div>
	</div>


		<div class="mb-3 w-100 py-4">
			<div class="row no-gutters d-flex flex-wrap-reverse">
				<div class="col-lg-8 pr-3">
					<h5 class="card-title text-danger">3. Sustainability In Transportation</h5>
					<p class="card-text pr-4">
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
						vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
						eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
						<hr class="w-50">
					</p>
				</div>
                <div class="col-lg-4">
                    <img src="https://youmatter.world/app/uploads/sites/2/2019/02/sustainability-examples-transportation.jpg" class="card-img vh-50" alt="...">
                </div>
		    </div>
	    </div>

	<div class="mb-3 w-100 py-4" style="max-width:;">
		<div class="row no-gutters">
			<div class="col-lg-4 pr-3">
				<img src="https://youmatter.world/app/uploads/sites/2/2019/02/sustainability-examples-zero-waste.jpg" class="card-img vh-50" alt="...">
			</div>
			<div class="col-lg-8">
				<h5 class="card-title text-danger">4. Zero Waste movement</h5>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
					vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
					eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
					<hr class="w-50">
				</p>
			</div>
		</div>
	</div>

		<div class="mb-3 w-100 py-4">
			<div class="row no-gutters d-flex flex-wrap-reverse">
				<div class="col-lg-8 pr-3">
					<h5 class="card-title text-danger">5. Sustainability In Food industry</h5>
					<p class="card-text pr-4">
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
						vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
						eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
						<hr class="w-50">
					</p>
				</div>
                <div class="col-lg-4">
                    <img src="https://youmatter.world/app/uploads/sites/2/2019/02/sustainability-examples-food.jpg" class="card-img vh-50" alt="...">
                </div>
		    </div>
	    </div>

	<div class="mb-3 w-100 py-4" style="max-width:;">
		<div class="row no-gutters">
			<div class="col-lg-4 pr-3">
				<img src="https://youmatter.world/app/uploads/sites/2/2019/02/sustainability-example-workplace.jpg" class="card-img vh-50" alt="...">
			</div>
			<div class="col-lg-8">
				<h5 class="card-title text-danger">6. Sustainability In The Workplace</h5>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
					vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
					eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
					<hr class="w-50">
				</p>
			</div>
		</div>
	</div>

		
			<div class="mb-3 w-100 py-4">
			<div class="row no-gutters d-flex flex-wrap-reverse">
				<div class="col-lg-8 pr-3">
					<h5 class="card-title text-danger">7. Operations And Value-Chain</h5>
					<p class="card-text pr-4">
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
						vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
						eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
						<hr class="w-50">
					</p>
				</div>
                <div class="col-lg-4">
                    <img src="https://youmatter.world/app/uploads/sites/2/2019/01/sustainability-value-chain.jpg" class="card-img vh-50" alt="...">
                </div>
		    </div>
	    </div>

	<div class="mb-3 w-100 py-4" style="max-width:;">
		<div class="row no-gutters">
			<div class="col-lg-4 pr-3">
				<img src="https://youmatter.world/app/uploads/sites/2/2019/01/sustainable-green-cities.jpg" class="card-img vh-50" alt="...">
			</div>
			<div class="col-lg-8">
				<h5 class="card-title text-danger">8. Sustainable City</h5>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
					vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
					eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
					<hr class="w-50">
				</p>
			</div>
		</div>
	</div>
    <div class="mb-3 w-100 py-4">
			<div class="row no-gutters d-flex flex-wrap-reverse">
				<div class="col-lg-8 pr-3">
					<h5 class="card-title text-danger">9. Sustainability In Waste Management</h5>
					<p class="card-text pr-4">
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut  labore et dolore magna aliquyam erat, sed diam voluptua. At 
						vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
						eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
						<hr class="w-50">
					</p>
				</div>
                <div class="col-lg-4">
                    <img src="https://youmatter.world/app/uploads/sites/2/2019/02/sustainability-examples-waste-management.jpg" class="card-img vh-50" alt="...">
                </div>
		    </div>
	    </div>        
        </div>
        {% endblock %}
