{% extends 'base.html.twig' %}

{% block title %}Signatures index{% endblock %}

{% block body %}
    <h1>Signatures index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for signature in signatures %}
            <tr>
                <td>{{ signature.id }}</td>
                <td>
                    <a href="{{ path('signatures_show', {'id': signature.id}) }}">show</a>
                    <a href="{{ path('signatures_edit', {'id': signature.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('signatures_new') }}">Create new</a>
{% endblock %}
