{% extends 'base.html.twig' %}

{% block title %}New Signatures{% endblock %}

{% block body %}
    <h1>Create new Signatures</h1>

    {{ include('signatures/_form.html.twig') }}

    <a href="{{ path('signatures_index') }}">back to list</a>
{% endblock %}
