{% extends 'base.html.twig' %}

{% block title %}Signatures{% endblock %}

{% block body %}
    <h1>Signatures</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ signature.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('signatures_index') }}">back to list</a>

    <a href="{{ path('signatures_edit', {'id': signature.id}) }}">edit</a>

    {{ include('signatures/_delete_form.html.twig') }}
{% endblock %}
