{% extends 'base.html.twig' %}

{% block title %}Edit Signatory{% endblock %}

{% block body %}
    <h1>Edit Signatory</h1>

    {{ include('signatory/_form.html.twig', {'button_label': 'Update'}) }}

{#    <a href="{{ path('cs_index') }}">back to list</a>#}

    {{ include('signatory/_delete_form.html.twig') }}
{% endblock %}
