{% extends 'base.html.twig' %}

{% block title %}New Signatory{% endblock %}

{% block body %}
    <h1>Create new Signatory</h1>

    {{ include('signatory/_form.html.twig') }}

    <a href="{{ path('signatory_index') }}">back to list</a>
{% endblock %}
