{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="row">
        <div class="form-group col-lg-8">
            <div class="my-5">
                <h3 class="display-4">Edit post</h3>
                <h4 class="font-weight-light">{{ post.title }}</h4>
            </div>
            {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="col-lg-3 mt-5 mx-auto">
            <a class="btn btn-outline-secondary btn-block" href="{{ path('post_index') }}">Back to List</a>
            {{ include('post/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
