{% extends 'pages/admin-temp.html.twig' %}

{% block title %}Edit Post{% endblock %}
{% block admintitle %}Edit post{% endblock %}
{% block adminsubtitle %}Edit {{ post.title }}{% endblock %}

{% block admin %}
    <div class="row">
        <div class="form-group col-lg-10">

            {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="col-lg-2 mx-auto">
            <a class="btn btn-outline-secondary btn-block" href="{{ path('post_index') }}">Back to List</a>
            {{ include('post/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
