{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <div class="row">
        <div class="form-group col-lg-8">
            <div class="my-5">
                <h3 class="display-4">Create new post</h3>
                <h4 class="font-weight-light">Create a new news post, strike update or business success story by choosing the post type.</h4>
            </div>

            {{ include('post/_form.html.twig') }}
        </div>
        <div class="col-lg-3 mt-5 mx-auto">
            <a class="btn btn-outline-secondary btn-block btn-lg" href="{{ path('post_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
