{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <div class="row">
        <div class="form-group col-lg-8">
            <h1>Create new Post</h1>

            {{ include('post/_form.html.twig') }}
        </div>
        <div class="col-lg-3 mt-5 mx-auto">
            <a class="btn btn-outline-secondary btn-block btn-lg" href="{{ path('post_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
