<footer id="footerC"class="page-footer font-small mdb-color lighten-3 pt-4 ">

    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4 foo2">Entrepeneurs <br>4 <br>Future</h5>
                    <p class="footerT">Here you can use rows and columns to organize your footer content.</p>
                    
            </div>
     
                    <hr class="clearfix w-100 d-md-none">
                        <h5 class="font-weight-bold text-uppercase mb-4 foo2">Follow Us</h5>

           <div class="social-networks">
                <a href="" class="fa fa-facebook"></a>
                <a href="" class="fa fa-twitter"></a>
                <a href="" class="fa fa-instagram"></a>
                <a href="" class="fa fa-youtube"></a>
                <a href="" class="fa fa-linkedin"></a>
            </div>
        </div>
    </div>
 
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://entrepreneurs4future.de/" class="footerE"> Entrepeneurs 4 Future</a>
    </div>

</footer>